{% extends "../../base.html" %}

{% block content %}

<form action="/qqa/student/courseSearchResult" method="post">
    {% csrf_token %} 

    <div class="row">
        <div class="input-group col-md-5">
            <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">课程编号</span>
            </div>
            <input id="id_course_no"  name="course_no" value="" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
        </div>

        <div class="input-group col-md-5">
            <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">课程名称</span>
            </div>
            <input id="id_course_name"  name="course_name" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
        </div>

    </div>
<br>
    <div class="row">
        <div class="input-group col-md-5">
            <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">教师编号</span>
            </div>
            <input id="id_teacher_no"  name="teacher_no" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
        </div>

        <div class="input-group col-md-5">
            <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">教师姓名</span>
            </div>
            <input id="id_teacher_name"  name="teacher_name" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
        </div>

    </div>

<br>

    <div class="row">
        <div class="input-group col-md-5 ">
            <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">授课学院</label>
            </div>

            <select id="id_course_school"  name="course_school" class=" custom-select " id="inputGroupSelect01" >
            <option selected>请选择</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
            </select>
        </div>

        <div class="input-group col-md-5">
            <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">授课学期</label>
            </div>
            <select id="id_course_semester"  name="course_semester" class="custom-select" id="inputGroupSelect01">
            <option selected>请选择</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
            </select>
        </div>

    </div>

    <br>
    
    <button type="submit" class="btn btn-primary" id="submit_button">查询课程</button>



</form>

{% endblock %}

