{% extends "../../base.html" %}

{% block content %}
    <a class="list-group-item active">
        <p class="text-center">选择查看哪个学期的成绩</p>
    </a>
    {% for type in semesters %}
    <a href="{% url 'score' type%}" class="list-group-item">
        <p class="text-center">{{ type }}</p>
    </a>
    {% endfor %}
    <br /><br /><br /><br />
    <h2>按课程名搜索</h2>
        <form action="scoreSelect" method="post">
            {% csrf_token %} 
				<fieldset>
					<br />
                     
                     <label for="course_name">课程名称: </label>
                     <input id="id_course_name" type="text" name="course_name" value="">
                     
                     <button class="btn" type="submit">搜索</button>
				</fieldset>
		</form>
{% endblock %}