{% extends "../../base.html" %}

{% block content %}

<form action= "{% url 'courlasAddSubmit' course_no %}" method="post">
    {% csrf_token %} 



        <div class="input-group ">
            <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">教学班级编号</span>
            </div>
            <input id="id_courlas_no"  name="courlas_no"  type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
        </div>

<br>
        <div class="input-group ">
            <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">学期</span>
            </div>
            <input id="id_term"  name="term"  type="text" class="form-control" placeholder = {{time_example}} aria-label="Default" aria-describedby="inputGroup-sizing-default">
        </div>



<br>
        
        <div class="input-group ">
            <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">时间地点</span>
            </div>
            <input id="id_time_loc"  name="time_loc"  type="text" class="form-control" placeholder = "示例：0,1,3301.如有多个请用;隔开" aria-label="Default" aria-describedby="inputGroup-sizing-default">
        </div>


<br>
    
    <button type="submit" class="btn btn-primary" id="submit_button">添加此教学班</button>


</form>

{% endblock %}

