{% extends "../../base.html" %}

{% block content %}
    <!-- {% for courlas in courlases %}
    <li><a>{{ courlas }}</a></li>
    {% endfor %} -->
    <form action="{% url 'courseSelection' %}" method="post">    
        {% csrf_token %}
        <table class="table" id="course_table">
            <thead>
                <tr>
                    <th scope="col">课程名</th>
                    <th scope="col">课程编号</th>
                    <th scope="col">学分</th>
                    <th scope="col">时间地点</th>
                    <th scope="col">课程大纲</th>
                    <th scope="col">选课</th>
                    <th scope="col">志愿</th>
                </tr>
            </thead>
            <tbody>
                {% for courlas in courlases %}
                <tr>
                    <th scope="row">{{courlas.course_no}}</th>
                    <td>{{ courlas.courlas_no }}</td>
                    <td>{{ courlas.course_no.credit }}</td>
                    <td>{{ courlas.time_location }}</td>
                    <td>{{ courlas.syllabus }}</td>
                    <td>
                        <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="courlas" value="{{ forloop.counter0 }},{{ courlas.courlas_no }}" id="choice{{ forloop.counter }}"></input>
                        </div>
                    </td>
                    <td>
                        <select class="custom-select mr-sm-2" name="intention">
                            <option selected value='0'>选择志愿</option>
                            <option value='1'>第一志愿</option>
                            <option value='2'>第二志愿</option>
                            <option value='3'>第三志愿</option>
                            <option value='4'>第四志愿</option>
                            <option value='5'>第五志愿</option>
                        </select>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    {% if courlases.has_previous %}
                    <a class="page-link" href="?page={{ courlases.previous_page_number }}">上一页</a>
                    {% endif %}
                </li>
                <li class="page-item">
                    <a class="page-link" href="">Page {{ courlases.number }} of {{courlases.paginator.num_pages}}</a>
                </li>
                <li class="page-item">
                    {% if courlases.has_next %}
                    <a class="page-link" href="?page={{ courlases.next_page_number }}">上一页</a>
                    {% endif %}
                </li>
            </ul>
        </nav>
        <button type="submit" class="btn btn-primary" id="submit_button">提交选课结果</button>

        <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
            提交选课结果
        </button>
        
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        请至少选择一门课
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div> -->

    </form>

    

    <script>
        $(document).ready(function () {
            $("#submit_button").click(function () {
                // var selected_courses = Array();
                $("#course_table").find('input:checkbox').each(function () { //遍历所有复选框
                    if ($(this).prop('checked') == true) {
                        // selected_courses.push($(this).parents("td").siblings("th").text())    // 选择其中选中课程的编号

                    }
                });
                // console.log(selected_courses)
            });
        });
    </script>
<!-- <form action="/your-name/" method="post">
    <label for="your_name">Your name: </label>
    <input id="your_name" type="text" name="your_name" value="{{ current_name }}">
    <input type="submit" value="OK">
</form> -->
{% endblock %}